*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-weight: 800;
}

body {
	margin: 0;
	--color-text: #000;
	--color-bg: #000;
	--color-link: #000;
	--color-link-hover: #cd0000;
	--color-gallery-title: #000;
	--color-gallery-number: #fff;
	--color-gallery-link: #000;
	--color-gallery-link-bg: #000;
	--color-gallery-link-hover: #cd0000;
	--color-gallery-link-bg-hover: #cd0000;
	color: var(--color-text);
	background-color: var(--color-bg);
	--cursor-stroke: none;
	--cursor-fill: #000;
	--cursor-stroke-width: 1px;
	font-family: halyard-display, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
}

a:hover,
a:focus {
	color: #cd0000;
	outline: none;
}


.content {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 0rem);
	position: relative;
	justify-content: flex-start;
}

.cursor {
	display: none;
}
/*! locomotive-scroll v4.0.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
	overflow: hidden; }

  html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }

  .has-scroll-smooth body {
	overflow: hidden; }

  .has-scroll-smooth [data-scroll-container] {
	min-height: 100vh; }

  [data-scroll-direction="horizontal"] [data-scroll-container] {
	white-space: nowrap;
	height: 100vh;
	display: inline-block;
	white-space: nowrap; }

  [data-scroll-direction="horizontal"] [data-scroll-section] {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	height: 100%; }

  .c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100%;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0; }
	.c-scrollbar:hover {
	  transform: scaleX(1.45); }
	.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
	  opacity: 1; }
	[data-scroll-direction="horizontal"] .c-scrollbar {
	  width: 100%;
	  height: 10px;
	  top: auto;
	  bottom: 0;
	  transform: scaleY(1); }
	  [data-scroll-direction="horizontal"] .c-scrollbar:hover {
		transform: scaleY(1.3); }

  .c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab; }
	.has-scroll-dragging .c-scrollbar_thumb {
	  cursor: -webkit-grabbing;
	  cursor: grabbing; }
	[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
	  right: auto;
	  bottom: 0; }
