{% extends 'outside_base.html' %}


{% load crispy_forms_tags %}

{% block body %}


<div class="view">
  <section class="grid">

<h2>Register</h2>
<form method="post" novalidate>
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}

      <div class="" data-validate="Username is required">
        <ion-icon size="large" name="mail-outline"></ion-icon><sup>Email:</sup><br>

        <input type="text" style="border-radius: 5px; padding: 5px" name="email" id="id_email" placeholder="Email: ">
      </div>
      <br>
      <div >
        <ion-icon size="large" name="person-outline"></ion-icon><sup>Full Name:</sup><br>
      <input type="text"  style="border-radius: 5px; padding: 5px" name="username" placeholder="Full Name: " maxlength="30" autofocus required id="id_username">
    </div>
        <br>

        <div>
          <div>
      <ion-icon name="phone-portrait-outline" size="large"></ion-icon><sup>Phone Number:</sup><br>
      <input type="text" style="border-radius: 5px; padding: 5px" name="phone" maxlength="200" required id="id_phone" placeholder="Phone Number:">
    </div>
          <br>

    <div>
<ion-icon size="large" name="lock-open-outline"></ion-icon><sup>Password:</sup>  <br>
<input style="border-radius: 5px; padding: 5px"  type="password" name="password1" autocomplete="new-password" placeholder="Password:" required id="id_password1">
    </div>
          <br>

    <div>
<ion-icon size="large" name="lock-closed-outline"></ion-icon> <sup>Confirm Password:</sup>  <br>
<input style="border-radius: 5px; padding: 5px"placeholder="Password Confirmation: " type="password" name="password2" autocomplete="new-password" required id="id_password2">


    </div>
          <br>

  <button class="action action--button-btn" type="submit">Register</button>
  <div class="text-center w-full p-t-25 p-b-230">
    <a href="{% url 'account:login' %}" class="action--text">
      <br>
      Already have an account?
    </a>
  </div>
</form>


  </section>
</div><br>

{% endblock %}
